:root {
    --white-001: #fffffe;
    --late-001: #e8e4e6;
    --yellow-001: #f9bc60;
    --green-001: #abd1c6;
    --green-002: #004643;
    --green-003: #0a5955;
    --green-004: #001e1d;
    --green-005: #4dac4f;
    --green-006: #2b4645;
    --red-001: #e16162;
}

/* NAVIGATION BAR */
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: var(--green-004) }

nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a:link,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a:visited { color: var(--green-005) }

nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a:focus,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a:hover,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a:active { color: var(--yellow-001) }

nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a.btn:link,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a.btn:visited {
    color: var(--green-005);
    background-color: var(--white-001);
}

nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a.btn:focus,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a.btn:hover,
nav.theme-dark div.container-menu div.container-menu-links ul.links-wrapper li a.btn:active {
    color: var(--white-001);
    background-color: var(--red-001);
    border-color: var(--red-001);
}

/* HEADER */
header.theme-dark   { background-color: var(--green-002) }

header.theme-dark  h1 { color: var(--late-001) }

header.theme-dark  p { color: var(--green-001) }

header .col-text h2, .col-1 > h3 { line-height: 1.8 }

header img { border-radius: 100% }

/* SECTIONS */
section.theme-dark   { background-color: var(--green-003) }

section.theme-dark div.col-1 h3 > a:link,
section.theme-dark div.col-1 h3 > a:visited { color: var(--green-005) }

section.theme-dark div.col-1 h3 > a:focus,
section.theme-dark div.col-1 h3 > a:hover,
section.theme-dark div.col-1 h3 > a:active { color: var(--yellow-001) }

/* FOOTER */
footer.theme-dark   { background-color: var(--green-004) }
footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { color: var(--green-001) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { color: var(--yellow-001) }

footer.theme-dark > ul.footer-icons li a:link i,
footer.theme-dark > ul.footer-icons li a:visited i { color: var(--green-005) }

footer.theme-dark > ul.footer-icons li a:focus i,
footer.theme-dark > ul.footer-icons li a:hover i,
footer.theme-dark > ul.footer-icons li a:active i { color: var(--yellow-001) }

footer.theme-dark > p.privacy a:link,
footer.theme-dark > p.privacy a:visited { color: var(--green-005) }

footer.theme-dark > p.privacy a:focus,
footer.theme-dark > p.privacy a:hover,
footer.theme-dark > p.privacy a:active { color: var(--yellow-001) }

.section-selector-2.theme-dark { background-color: var(--green-002) }
.section-selector-2.theme-dark .cols-background .col-3 { background-color: var(--green-006) }
.section-selector-2.theme-dark .cols-background .col-3 img {
    width: 50px;
    padding-top: 5%;
}

/* CONTACT BOX */
.theme-dark #email-form {
    background-color: var(--green-002);
    border-radius: 2%;
}

#email-form #btn-submit {
    background-color: var(--green-005);
    border-color: var(--green-005);
    border-radius: 5px;
}